extends layout.pug

block content
  div.container
    div
      details
        summary Metadata
        div Name: #{name}
        div Version: #{version}

      details
        summary Environment
        div NODE_ENV: #{config.NODE_ENV}
        div DOMAIN: #{config.DOMAIN}
        div ROUTE_PREFIX: #{config.ROUTE_PREFIX}
        div ENABLE_PAGE_DOCS: #{config.ENABLE_PAGE_DOCS}
        div USE_ATTENDANCE_API_FLAG: #{config.USE_ATTENDANCE_API_FLAG}
        div USE_XAPI_SQL_DATABASE_FLAG: #{config.USE_XAPI_SQL_DATABASE_FLAG}
      
      details
        summary Feature Flags
        div FixDisconnectedUserContentScoreNodes: #{featureFlags.FixDisconnectedUserContentScoreNodes}
    
    hr
    
    include:markdown-it ../README.md
